.cards{
width: 200px;
height: 300px;
border: 4px rgb(27, 103, 165) solid;
/* margin-left: 50px; */
border-radius: 5%;


margin-top: 50px;

}
.cards:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);
  }
  
.card{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: flex;
    


}
.cardimg{
    width:190px ;
     height:190px;
     border-radius: 10px;
 

}

.cardname{
    font-size: 2rem;
}
.cardage{
 font-size: 1rem;
}
h4{
    font-size: 1rem;

}